<h2>&nbsp Login Here!</h2>
<br />

<div>
		<%= @message %>
	<form action="/login" method="post">

		<p>&nbsp Email: <input type="email" name="email" placeholder="Email"></p>

		<p>&nbsp Password: <input type="password" name="password" placeholder="Password"></p>

		<p>&nbsp <input type="submit" value="Log In"></p>

	</form>

</div>