<h2>&nbsp Sign Up Here!</h2>
<br />

<div>

	<form action="/user/new" method="post">

		<p>&nbsp Full name: <input type="text" name="user[fullname]" placeholder="Full Name"></p>
		
		<p>&nbsp Username: <input type="text" name="user[username]" placeholder="Username"></p>

		<p>&nbsp Email: <input type="email" name="user[email]" placeholder="Email"></p>

		<p>&nbsp Password: <input type="password" name="user[password]" placeholder="Password"></p>

		<p>&nbsp <input type="submit" value="Sign Up"></p>

	</form>

</div>