<h2>Advertise Your Property</h2>
<p1>-----------------------------------------------------------------</p1>
 

<p><%= @error_message %></p>
<div>
	<form action="/properties" method="post">

		<p>&nbsp Property Name: <input type="text" name="property[property_name]" placeholder="Short description"></p>

		<p>&nbsp Location: <input type="text" name="property[location]" placeholder="Location"></p>	

		<p>&nbsp Description: <textarea name="property[description]" row="5" cols="30" placeholder="Tell us more about your property"></textarea></p>

		<p>&nbsp Price: RM <input type="text" name="property[price]" placeholder="Price"></p>

		<input type="hidden" name="property[user_id]" value="<%= current_user.id%>">

		<p>&nbsp <input type="submit" value="Advertise!"></p>

	</form>
</div>